.about{
  height: 100vh;
  display: flex;
  align-self: center;
}

.ab-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.ab-right {
    flex: 1;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #947573;
}

.a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.a-desc a {
    text-decoration: none;
}


/* 500px or less */
@media screen and (max-width:500px) {
    .about{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
    }

    .ab-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg {
      display: none;
    }

    .ab-right{
      padding: 20px;
    }
}