
.i { 
    display: flex; 
    height: 100vh;
}

.i-left { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right { 
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    padding: 25px;
    height: 50%;
}

.i-intro {
    font-size: 30px;
    font-weight: 300;
}

.i-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: absolute;
}

.i-img-bg {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 500px) {
    .i {
      flex-direction: column;
    }
  
    .i-left-wrapper {
    
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }

    .i-img-bg {
        width: 70%;
        height: 70%;
    }

    .i-img {
        width: 50%;
        height: 50%;
    }
    .i-desc{
      display: none;
    }
    
  }