* {
  color: #0d0d0d;
  background-color: #eeefe8;
}

body {
  margin: 0;
  background-color: #F2F2F2;
  font-family: 'Fredoka', sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Comfortaa', cursive;
}
